In [3]:
print('hello\nwrold\nthis is a new line')
print("I'm a double quotted string")

hello
wrold
this is a new line
I'm a double quotted string

In [4]:
print("hello\ttab")

hello	tab

In [2]:
mystring='abcdefghijklm'
mystring[0:]

'abcdefghijklm'

In [6]:
print(mystring[0:2])

ab

In [14]:
questions = ['name', 'address', 'favorite drink']
answers = ['sherlock holmes', '221B baker st', 'coffe-black, two sugars']

In [8]:
test_zip=zip(questions,answers)

In [9]:
print(test_zip[1])

('quest', 'the holy grail')

In [10]:
print(test_zip[0])

('name', 'lancelot')

In [11]:
for k,v in enumerate(test_zip):
    print(k,v)

(0, ('name', 'lancelot'))
(1, ('quest', 'the holy grail'))
(2, ('favorite color', 'blue'))

In [15]:
for k,v in zip(questions,answers):
    print("The %s is %s" %(k,v))

The name is sherlock holmes
The address is 221B baker st
The favorite drink is coffe-black, two sugars

In [22]:
name = raw_input("who are you?")

who are you?Audrey

In [23]:
print "hello %s" % (name)

hello Audrey

In [3]:
mystring[2:8:2]

'ceg'

In [4]:
mystring[2:9:2]

'cegi'

In [5]:
newstring=mystring[1:]

In [7]:
print('s'+newstring)

sbcdefghijklm

In [8]:
x='345abc'

In [12]:
x.upper()

'345ABC'

In [13]:
x='Hi This is a string'
x.split()

['Hi', 'This', 'is', 'a', 'string']

In [14]:
x='Hi This is a string'
x.split('i')

['H', ' Th', 's ', 's a str', 'ng']

In [15]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [16]:
print('The {1} {2} {0}'.format('fox','quick','brown'))

The quick brown fox

In [17]:
print('The{1}{2}{0}'.format('fox','quick','brown'))

Thequickbrownfox

In [19]:
print('The {q} {b} {f}'.format(f='fox',q='quick',b='brown'))

The quick brown fox

In [31]:
result=100.0/777
print('The reuslt is {r:10.4f}'.format(r=result))

The reuslt is     0.1287

In [28]:
print(result)

0

In [1]:
name=raw_input("What's you name")

What's you nameFred

In [2]:
print("My Name is {}".format(name))

My Name is Fred

In [14]:
"My Name is {}".format(name)

'My Name is Fred'

In [15]:
print(name)

Fred

In [22]:
# It works in Python 3, I promise
name="Fred"
print(f'He said his name is {name}')

SyntaxError: invalid syntax (<ipython-input-22-75d73eee8a65>, line 2)

In [30]:
# you cannot mix keyword args with non-key word args
print('His name is {n}, his age is {age}, his height is {h}'.format(n='Fred',age=32,h='5 feet 8 inches'))

His name is Fred, his age is 32, his height is 5 feet 8 inches

In [32]:
print('His name is {n}, his age is {age}, his height is {h}. David is {age} as well'.format(n='Fred',age='32',h='5 feet 8 inches'))

His name is Fred, his age is 32, his height is 5 feet 8 inches. David is 32 as well

In [42]:
print('His name is %s and his age is %s' %('Michael','65\n\thappy'))

His name is Michael and his age is 65
	happy

In [3]:
mylist=['one','two','three']
mylist[:1]

['one']

In [44]:
mylist[:0]

[]

In [4]:
another_list=["four","five"]

# list concatenation
mylist+another_list

['one', 'two', 'three', 'four', 'five']

In [46]:
another_list

['four', 'five']

In [5]:
newlist=mylist+another_list
newlist[0]="one new item"

In [48]:
print(newlist)

['one new item', 'two', 'three', 'four', 'five']

In [50]:
newlist.append('six')
print(newlist)

['one new item', 'two', 'three', 'four', 'five', 'six', 'six']

In [51]:
newlist.remove('six')

In [52]:
print(newlist)

['one new item', 'two', 'three', 'four', 'five', 'six']

In [54]:
newlist.pop()

'six'

In [6]:
newlist

['one new item', 'two', 'three', 'four', 'five']

In [56]:
popped_item=newlist.pop()

In [57]:
print(popped_item,newlist)

('five', ['one new item', 'two', 'three', 'four'])

In [60]:
type(print(popped_item,newlist))

SyntaxError: invalid syntax (<ipython-input-60-556753fd38ea>, line 1)

In [61]:
popped_item=newlist.pop(0)

In [62]:
popped_item

'one new item'

In [7]:
newlist.pop(-1)

'five'

In [8]:
newlist

['one new item', 'two', 'three', 'four']

{'M', 'i', 'p', 's'}